@keyframes textFaq {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.faq {
  &__item {
    background: #fafafa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px 0px 20px 20px;
    margin-top: 30px;
    & h3 {
      font-family: "MullerBold";
      font-size: 16px;
      line-height: 24px;
      color: #1c1c1c;
      width: 300px;
      @media (min-width: 576px) {
        width: 400px;
      }
      @media (min-width: 768px) {
        width: 500px;
      }
      @media (min-width: 1200px) {
        width: 600px;
      }
    }
    &-drop {
      display: none;
      opacity: 0;
      width: 300px;
      @media (min-width: 576px) {
        width: 400px;
      }
      @media (min-width: 768px) {
        width: 500px;
      }
      @media (min-width: 1200px) {
        width: 600px;
      }
      & p {
        font-family: "MullerRegular";
        font-size: 14px;
        line-height: 24px;
        color: #000000;
      }
    }
    &.active {
      & .faq__item-drop {
        display: block;
        animation-name: textFaq;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
      & .faq__item-button {
        opacity: 1;
        .vertical {
          transition: all 0.5s ease-in-out;
          transform: rotate(90deg);
        }
        .horizontal {
          transition: all 0.5s ease-in-out;
          transform: rotate(90deg);
          opacity: 0;
        }
      }
    }
  }
}

.faq__item-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 38px;
  & .horizontal {
    position: absolute;
    background-color: #00b7c6;
    width: 15px;
    height: 4px;
    margin-left: -15px;
    margin-top: -9.5px;
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
  }
  & .vertical {
    position: absolute;
    background-color: #00b7c6;
    width: 4px;
    height: 15px;
    margin-left: -9.5px;
    margin-top: -15px;
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
  }
}
