.media-news {
  @media (min-width: 992px) {
    margin-top: 50px;
  }
  & .item {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    @media (min-width: 576px) {
      width: 364px;
      margin: 0 auto;
      margin-top: 30px;
    }
    @media (min-width: 992px) {
      width: 100%;
    }
    @media (min-width: 1200px) {
      width: 364px;
      height: 182px;
      padding-left: 20px;
      padding-right: 20px;
    }
    & h4 {
      font-family: "MullerMedium";
      font-size: 28px;
      line-height: 28px;
      color: #ffffff;
    }
  }
}

.media__slider-gallery {
  position: relative;
  margin-top: 50px;
  @media (min-width: 400px) {
    width: 380px;
    margin: 0 auto;
    margin-top: 50px;
  }
  @media (min-width: 576px) {
    width: 450px;
  }
  @media (min-width: 768px) {
    width: 550px;
  }
  @media (min-width: 992px) {
    display: none;
  }
  & .content {
    & .item {
      & .img {
        height: 260px;
        width: 280px;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
        @media (min-width: 576px) {
          width: 360px;
          height: 300px;
        }
        @media (min-width: 768px) {
          width: 440px;
          height: 320px;
        }
        & i {
          position: absolute;
          z-index: 9;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 34px;
        }
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: black;
          opacity: 0.7;
        }
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.news-details-media {
  & .news-details__content {
    & .img {
      height: 200px;
      @media (min-width: 576px) {
        height: 300px;
      }
      @media (min-width: 768px) {
        height: 400px;
      }
    }
    & .media__btn {
      background: linear-gradient(90deg, #1d6098 0%, #00b7c6 110.44%);
      border-radius: 4px;
      display: block;
      height: 50px;
      width: 216px;
      color: white;
      line-height: 50px;
      padding-left: 25px;
      font-family: "MullerBold";
      font-size: 16px;
      color: #ffffff;
      margin-top: 28px;
      & img {
        width: 40px;
        height: 34px;
        margin-left: 20px;
      }
    }
  }
}

.media-modal {
  & .modal-dialog {
    @media (min-width: 992px) {
      max-width: 950px;
    }
    @media (min-width: 1200px) {
      max-width: 1100px;
    }
    & .modal-content {
      & .modal-body {
        margin-top: 30px;
        & .close {
          position: absolute;
          top: -40px;
          right: 0;
        }
      }
    }
  }
}

.media__slider-btns {
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  & button {
    border: none;
    background-color: transparent;
    & i {
      font-size: 26px;
    }
  }
  & .prev {
    position: absolute;
    left: 5px;
  }
  & .next {
    position: absolute;
    right: 5px;
  }
}

.media-video {
  margin-top: 50px;
  margin-bottom: 50px;
  & h2 {
    font-family: "Qanelas-SemiBold";
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #1d6098;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 40px;
    }
  }
  @media (min-width: 992px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  & .main__video {
    & video {
      width: 100%;
      object-fit: cover;
    }
    & span {
      font-family: "MullerRegular";
      font-size: 16px;
      line-height: 16px;
      color: #000000;
      opacity: 0.5;
      display: block;
      margin-top: 15px;
    }
    & h4 {
      font-family: "MullerMedium";
      font-size: 28px;
      line-height: 36px;
      color: #333333;
      margin-top: 10px;
      @media (min-width: 992px) {
        margin-top: 20px;
      }
    }
  }
}

.other-video {
  height: 400px;
  margin-top: 50px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 992px) {
    margin-top: 0px;
    height: 464px;
  }
  & .item {
    cursor: pointer;
    & video {
      width: 100%;
      object-fit: cover;
      @media (min-width: 992px) {
        margin-top: 20px;
      }
    }
    & span {
      font-family: "MullerRegular";
      font-size: 16px;
      line-height: 16px;
      color: #000000;
      opacity: 0.5;
      display: block;
      margin-top: 15px;
    }
    & h4 {
      font-family: "MullerMedium";
      font-size: 28px;
      line-height: 36px;
      color: #333333;
      margin-top: 10px;
      @media (min-width: 992px) {
        margin-top: 10px;
      }
    }
  }
}

.media_btn_all {
  background: linear-gradient(180deg, #00b7c6 0%, #1d6098 100%);
  backdrop-filter: blur(4px);
  border-radius: 4px;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  @media (min-width: 576px) {
    width: 364px;
    height: 220px;
    margin: 0 auto;
    margin-top: 30px;
  }
  @media (min-width: 992px) {
    width: 364px;
    height: 182px;
  }
  & p {
    font-family: "MullerMedium";
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    width: 116px;
  }
  & img {
    margin-top: 20px;
    width: 95px;
    height: 70px;
  }
}

.photoarchive {
  background: #fafafa;
  margin-top: 30px;
  padding-bottom: 50px;
  &__slider {
    @media (min-width: 992px) {
      position: relative;
    }
    & .photoarchive-single {
      display: none;
      @media (min-width: 992px) {
        display: block;
        margin-top: 30px;
      }
      & .slick-list {
        padding: 0 30% 0 0;
      }
      & .item {
        width: 200px;
        height: 350px;
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
    & .photoarchive-nav {
      margin-top: 20px;
      @media (min-width: 992px) {
        margin-top: 0px;
      }
      & .item {
        height: 220px;
        width: 100%;
        @media (min-width: 576px) {
          height: 320px;
        }
        @media (min-width: 768px) {
          height: 420px;
        }
        @media (min-width: 992px) {
          height: 130px;
        }
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.photoarchive__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  @media (min-width: 992px) {
    flex-direction: row;
    margin-top: 80px;
  }
  & h2 {
    font-family: "Qanelas-SemiBold";
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #1d6098;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
  &-links {
    display: flex;
    margin-top: 10px;
    @media (min-width: 992px) {
      margin-top: 0px;
    }
    & a {
      font-size: 14px;
      line-height: 48px;
      text-transform: uppercase;
      text-align: center;
      color: white;
      display: block;
      width: 101px;
      height: 48px;
      background: linear-gradient(180deg, #00b7c6 0%, #1d6098 100%);
      border-radius: 4px;
      margin-left: 10px;
      @media (min-width: 992px) {
        font-size: 18px;
      }
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.photoarchive__slider {
  & .nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    @media (min-width: 992px) {
      display: none;
    }
    & button {
      background-color: transparent;
      border: none;
      & i {
        color: black;
      }
    }
  }
}

.photoarchive__slider-desktop-next {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 343px;
  height: 350px;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
  & i {
    color: white;
  }
}
